<div class="background">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div>
            <a class="left_float nav-link"
               routerLink="/add"
               routerLinkActive="activebutton"
               ariaCurrentWhenActive="page">
              Add
            </a>
            <a class="left_float nav-link"
               routerLink="/print"
               routerLinkActive="activebutton"
               ariaCurrentWhenActive="page">
              Print
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
